<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой блог</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <style>
        .card {
    height: 500px; /* Установите желаемую высоту */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; /* Позволяет телу карточки заполнять доступное пространство */
}

.card-img-top {
    max-height: 550px; /* Ограничивает максимум высоты изображения */
    object-fit: cover; /* Обрезает изображение, чтобы заполнить пространство */
}
    </style>
</head>
{% include 'blog/includes/inc_menu.html'%}
{% block content %}
{% endblock %}
<body>
{% include 'blog/includes/footer.html'%}
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>